<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycompany.myndkapp"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-sdk android:minSdkVersion="14"/>
    <application
        android:label="手机屏幕"
        android:debuggable="true"
        android:allowBackup="true">

        <!-- NativeActivity 入口，完全在 C 层处理 -->
        <activity android:name="android.app.NativeActivity"
            android:label="手机屏幕"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

            <meta-data android:name="android.app.lib_name"
                android:value="hello-jni" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>

</manifest>
